<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="EPPlus" version="7.6.0" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="7.5.0" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="7.5.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net45" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net45" />
  <package id="itextsharp.xmlworker" version="5.5.13.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PushSharp" version="4.0.10" targetFramework="net45" />
  <package id="Stripe.net" version="16.10.0" targetFramework="net45" />
</packages>