.alert-message {
    padding: 10px 15px 10px 12px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: left;
}

.alert {
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}

    .alert h4 {
        margin-top: 0;
        color: inherit;
    }

    .alert .alert-link {
        font-weight: bold;
    }

    .alert > p, .alert > ul {
        margin-bottom: 0;
    }

        .alert > p + p {
            margin-top: 5px;
        }

.alert-dismissable {
    padding-right: 35px;
}

    .alert-dismissable .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }

.success {
    background-color: #ddf5e6;
    border-color: #a2e3b0;
    color: #31a15c;
}

.alert-success {
    background-color: #ddf5e6;
    border-color: #a2e3b0;
    color: #31a15c;
}

    .alert-success hr {
        border-top-color: #8fdd9f;
    }

    .alert-success .alert-link {
        color: #257a45;
    }

.alert-info {
    background-color: #d9f5fc;
    border-color: #91f4f8;
    color: #0a7d99;
}

    .alert-info hr {
        border-top-color: #7af2f6;
    }

    .alert-info .alert-link {
        color: #075669;
    }

.alert-warning {
    background-color: #fdf2dd;
    border-color: #f7d396;
    color: #f0b137;
}

    .alert-warning hr {
        border-top-color: #f6c97e;
    }

    .alert-warning .alert-link {
        color: #e49b11;
    }

.error {
    background-color: #fcecec;
    border-color: #f2aab6;
    color: #de2525;
}

.alert-danger {
    background-color: #fcecec;
    border-color: #f2aab6;
    color: #de2525;
}

    .alert-danger hr {
        border-top-color: #ef94a3;
    }

    .alert-danger .alert-link {
        color: #b51b1b;
    }

.font17 {
    font-size: 17px;
    font-weight: bold;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.signup .modal-dialog {
    max-width: 700px;
}

.signup .modal-content {
    padding: 4px 16px 16px 16px;
}

.color-white {
    color: #fff !important;
}

.descriptor .btn-group {
    display: flex;
}

.descriptor .btn-group, .descriptor .btn-group-vertical {
    position: relative;
    vertical-align: middle;
}

    .descriptor .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .descriptor .btn-group .btn {
        -webkit-box-flex: 1;
        flex: 1;
    }

    .descriptor .btn-group > .btn:first-child {
        margin-left: 0;
    }

    .descriptor .btn-group > .btn, .descriptor .btn-group-vertical > .btn {
        position: relative;
        margin-bottom: 0;
    }

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.descriptor .btn-outline-secondary {
    color: #a4b7c1;
    background-color: transparent;
    background-image: none;
    border-color: #a4b7c1;
}

[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.descriptor .text-info, .descriptor .text-notice {
    color: #63c2de !important;
}

.descriptor .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: 2;
}

.descriptor .btn-outline-secondary:active, .descriptor .btn-outline-secondary.active, .descriptor .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #a4b7c1;
    border-color: #a4b7c1;
}

.descriptor .btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #cfd2d4 !important;
    border-color: #a4b7c1 !important;
}

.descriptor .btn:active, .descriptor .btn.active {
    background-image: none !important;
}

.descriptor .btn:focus, .descriptor .btn:hover {
    text-decoration: none !important;
}

.descriptor .card-header {
    height: 100px !important;
    overflow: auto;
    overflow-x: hidden;
}

.descriptor .bg-primary {
    background-color: #20a8d8 !important;
}

.descriptor .text-white {
    color: #fff !important;
}

.descriptor .card-header a {
    font-weight: normal !important;
    font-size: 14px;
}

    .descriptor .card-header a:hover {
        color: #fff !important;
    }

.student-skill .descriptor .card-header {
    height: auto !important
}
.student-skill .descriptor .card-header a{text-align: left}
.student-skill .descriptor .card-body h5{font-size:14px;}

.student-skill .descriptor .card-body > a.total-demonstration {
    padding: 14px 14px 14px 1px;
}
.student-skill .descriptor .card-body > a.total-demonstration  .card-body{padding:0;}
.student-skill .descriptor .card-body > a.total-demonstration label{margin:0;}
 .student-skill .descriptor .card-body > a.total-demonstration .card-link{display:flex; align-items:center; padding-left:30px}
    .student-skill .descriptor .card-body > a.total-demonstration .card-link span {
        margin-right: 10px;
        font-size: 16px
    }
.student-skill .descriptor .modalfooter > label{margin:0}
.student-skill .descriptor .modalfooter .custom-control{margin-right:5px;margin-top:4px;}
.student-skill .descriptor .modalfooter .custom-control-input {
    height: auto
}
.descriptor .alert-success {
    color: #28623c !important;
    background-color: #dbf2e3 !important;
    border-color: #cdedd8 !important;
}

.descriptor .btn-outline-secondary:active, .descriptor .btn-outline-secondary.active, .descriptor .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff !important;
    /*background-color: #a4b7c1 !important;
    border-color: #a4b7c1 !important;*/
    background-color: #cfd2d4 !important;
    border-color: #a4b7c1 !important;
}

.descriptor .btn:active, .descriptor .btn.active {
    background-image: none !important;
}

.homegroupcolor {
    color: #00A18F;
}

#myTable tr:hover {
    background-color: #f9f9f9;
}

.myTable tr:hover {
    background-color: #f9f9f9;
}

@media (min-width: 768px) {
    .stacked-menu .menu-link {
        line-height: 1.80rem;
    }
}

.mar-left20 {
    margin-left: 20px;
}

.dashboard-icon img {
    width: 75% !important;
    height: 75% !important;
    margin-top: 11%;
}

.user-avtar-icon .user-avatar {
    height: 36px !important;
    background-color: #4D7FBA
}

    .user-avtar-icon .user-avatar i {
        font-size: 19px !important;
        color: #DBE5F1;
        vertical-align: top;
        padding-top: 6px;
    }

.avtar-res {
    font-size: 30px;
    vertical-align: top;
}

.padleft0 {
    padding-left: 0px !important;
}

.knob {
    outline: none !important;
}

.fixed {
    position: fixed;
}

.descriptor input {
    padding: 0px 4px 0px 6px;
}

.form-control:disabled, .custom-control-input:disabled {
    background-color: #f1f1f1 !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.valign-text-top {
    vertical-align: text-top;
}

.padright0 {
    padding-right: 0px !important;
}

.padtop8 {
    padding-top: 8px;
}

.point-green {
    background-color: #c6efce;
    padding: 2px 8px 2px 8px;
    font-weight: 500;
}

.point-yellow {
    background-color: #ffeb9c;
    padding: 2px 8px 2px 8px;
    font-weight: 500;
}

.point-red {
    background-color: #ffc7ce;
    padding: 2px 8px 2px 8px;
    font-weight: 500;
}

.border-bottom td {
    border-bottom: 1px solid #353434 !important;
}

.modalheader {
    border-bottom: 1px solid #e4e5e8;
}

.modalfooter {
    border-top: 1px solid #e4e5e8;
}

.modalheader h6 {
    display: contents;
}

.descriptor a {
    cursor: pointer;
}

.rating {
    width: 14px;
}

.divReport th, .divReport td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.blankrow {
    height: 20px;
}

.highcharts-container {
    max-width: 100% !important;
    width: 100% !important
}

.alert {
    border-width: 3px 0 0;
    box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 3px 0 rgb(20 20 31 / 15%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert-primary {
    color: #2f5e99;
    background-color: #f7f9fc;
    border-color: #346cb0;
}

.alert-secondary {
    color: #363642;
    background-color: #f6f7f9;
    border-color: #888c9b;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

button.close {
    padding-top: 9px !important;
}
/*button.close span{
    font-size:34px !important;
}*/
.StudentQuestions .list-group-item {
    padding-left: 0px;
}

.StudentQuestions .attachmentview {
    float: right;
}

.btnDelete {
    vertical-align: top;
    /*margin-top:4px;*/
}

.orange a {
    color: #ea6759;
    text-decoration: none;
}

.footertext, .footertext a {
    color: #888c9b !important;
    font-size: 12px !important;
}

.teacherdashboard blockquote p {
    font-size: .875rem !important;
}

.teacherdashboard .col-auto {
    max-width: 34% !important;
}

.search-control {
    top: 1px !important;
}

.desc {
    background-color: #FFF4E8 !important;
    padding: 10px;
    margin-bottom: 15px;
    color: #000;
}

.total-demonstration i {
    color: #a6abbd;
    float: right;
}

.clrblack {
    color: #363642;
    text-decoration: none !important;
}

.forgotpassword {
    cursor: pointer;
    float: left;
    margin: 12px 0 9px 3px;
    color: #346cb0 !important;
}

    .forgotpassword:hover {
        color: #234875 !important;
    }

.questionlocked {
    float: none !important;
    padding-left: 10px;
}

.w100 {
    width: 100%
}

.mr5 {
    margin-right: 5px;
}

.spnModules {
    font-weight: bold;
    border-bottom: 1px solid #e6e5e5;
    display: block;
    margin-bottom: 10px;
    background-color: #ececec;
    padding-left: 10px;
    padding-top: 10px;
}

.spnSubHeading {
    font-weight: bold;
    line-height: 31px;
}

.RatingURLs {
    margin-bottom: 15px;
}

.RatingURLs input {
    width: 90%;
    display: inline-block;
}
    .RatingURLs a {
        font-size: 20px;
        margin-left: 3px;
        cursor:pointer;
    }
.urls span {
    display:block;
    border:1px solid #fefefe;
}
.urls input {
    width: 90%;
    display: inline-block;
    margin-bottom: 15px;
}
.urls i {
    margin-left: 10px;
    font-size:16px;
    cursor:pointer;
}
.fl-right {
    float:right
}
.cur-pointer {
    cursor:pointer;
}
.icon-remove {
    margin-right: 10px;
    margin-top: 4px;
    float: right;
    cursor: pointer;
    font-size:16px;
}
.RatingURLs .bg-primary {
    background-color: #285489 !important;
    border-color: #254e7f !important;
}
.RatingURLs .bg-primary:hover {
    background-color: #2b5a92;
    border-color: #285489;
}

.list-group-bordered-url > .list-group-item:last-child {
    border-width: 0 0 1px !important;
}
.fa-trash-alt:before {
    color: #a6abbd !important;
}
.npl{
    margin-right:35px !important;
}
.mar-bt{
    margin-bottom:13px;
}
.mr-tp-0 {
    margin-top: 0px !important;
}
.npl-badge {
    height: 19px !important;
    width: 38px !important;
    padding: 0px !important;
    margin: 0px !important;
    font-size:12px !important;
}